
<div>
<label for="preg" class="rem">Nombre:</label>
<input type="text" id="preg" name="verdura[nombre]" value="<%= verdura.nombre %>"/>
</div>
<div>
<label for="image" class="rem">Imagen:</label>
<input type="file" accept="images/*" id="image" name="image"/>
</div>
<div>
	<input type="submit" value="Guardar">
	<input type="submit" value="Cancelar">
</div>