<h2 class="titulo-section">Verduras</h2>
<form  id="formulario-ingresar" method="post" action="/verduras/<%= verdura.id %>?_method=put" enctype="multipart/form-data">      
  <% include _form.ejs %>
</form>