<section class="container">
        
      <!-- RECETA GRANDE -->

		<article class= "main-reseta">
				<a href="" title="Sopa de tomates rostizada">
		            <figure class="img-receta">
		                <img src="/images/piña3.jpg" alt="E-nutrition">
		            </figure>
		            <header class="info-wrapper">
		            	<h3 class="titulo" itemprop="name">Pan de piña</h3>
		                <hr class="linea roja">
		                <p class="extracto" itemprop="description">Prepara para esta cena una receta práctica y saludable que le va a encantar a todos tus invitados.</p>
		                <p class="tipo-contenido"> -  RECETA   -</p>
		            </header>
		        </a>
			
		</article>

	<!-- BLOQUE DE 4 -->
	<section class="section-resetas">
		<article class= "reseta">
				<a href="reseta/1" title="Mixiote de pescado">
		            <figure class="img-receta">
		               <img class="img-rectangle portrait landscape" src="/images/piña1.jpg">
		            </figure>
		            <header class="info-wrapper">
		            	<h3 class="titulo" itemprop="name">Mil hojas con queso</h3>
		                <hr class="linea roja">
		                <p class="extracto" itemprop="description">Este mixiote saludable alto en proteínas y bajo en carbohidratos te va a encantar.  </p>
		                <p class="tipo-contenido"> -  RECETA   -</p>
		            </header>
		        </a>
		</article>
		<article class= "reseta">
				<a href="reseta/1" title="Mixiote de pescado">
		            <figure class="img-receta">
		               <img class="img-rectangle portrait landscape" src="/images/mmixiotedepollo.jpg">
		            </figure>
		            <header class="info-wrapper">
		            	<h3 class="titulo" itemprop="name">Mixiote de pescado</h3>
		                <hr class="linea roja">
		                <p class="extracto" itemprop="description">Este mixiote saludable alto en proteínas y bajo en carbohidratos te va a encantar.  </p>
		                <p class="tipo-contenido"> -  RECETA   -</p>
		            </header>
		        </a>
		</article>
		<article class= "reseta">
				<a href="reseta/1" title="Mixiote de pescado">
		            <figure class="img-receta">
		               <img class="img-rectangle portrait landscape" src="/images/mmixiotedepollo.jpg">
		            </figure>
		            <header class="info-wrapper">
		            	<h3 class="titulo" itemprop="name">Mixiote de pescado</h3>
		                <hr class="linea roja">
		                <p class="extracto" itemprop="description">Este mixiote saludable alto en proteínas y bajo en carbohidratos te va a encantar.  </p>
		                <p class="tipo-contenido"> -  RECETA   -</p>
		            </header>
		        </a>
		</article>
		<article class= "reseta">
				<a href="reseta/1" title="Mixiote de pescado">
		            <figure class="img-receta">
		               <img class="img-rectangle portrait landscape" src="/images/mmixiotedepollo.jpg">
		            </figure>
		            <header class="info-wrapper">
		            	<h3 class="titulo" itemprop="name">Mixiote de pescado</h3>
		                <hr class="linea roja">
		                <p class="extracto" itemprop="description">Este mixiote saludable alto en proteínas y bajo en carbohidratos te va a encantar.  </p>
		                <p class="tipo-contenido"> -  RECETA   -</p>
		            </header>
		        </a>
		</article>
	</section>

</section>