<h2 class="titulo-section">Frutas</h2>
<form  id="formulario-ingresar" method="post" action="/frutas/<%= fruta.id %>?_method=put" enctype="multipart/form-data">      
  <% include _form.ejs %>
</form>