<label for="preg" class="rem">Nombre:</label>
<input type="text" id="preg" name="cereal[nombre]" value="<%= cereal.nombre %>"/> <p>
<label for="image" class="rem">Imagen:</label>
<div>
	<input type="file" accept="images/*" id="image" name="image"/><p>
</div>

<a href="/cereales"><button type="button">Cancelar</button></a>
<input type="submit" value="Salvar">