<label for="preg" class="rem">Nombre:</label>
<input type="text" id="preg" name="planta[nombre]" value="<%= planta.nombre %>"/> <p>
<label for="image" class="rem">Imagen:</label>
<input type="file" accept="images/*" id="image" name="image"/><p>
<a href="/plantas"><button type="button">Cancelar</button></a>
<input type="submit" value="Salvar">