<h2 class="titulo-section">Plantas</h2>
<form id="formulario-ingresar" method="post" action="/plantas/<%= planta.id %>?_method=put" enctype="multipart/form-data">      
  <% include _form.ejs %>
</form>