	<figure class="logo">
		<img src="/images/logoL.jpg"  srcset="
		/images/logoM.jpg 768w,
		/images/logoH.jpg 1200w" />
	</figure>

	<h2 class="titulo-section" id="titulo-index"><%= title %></h2>

	<p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodoconsequat. Duis aute irure dolor in reprehenderit .
	</p>


	