	<figure class="logo">
		<img src="/images/logoLL.jpg"  srcset="
		/images/logoMM.jpg 840w,
		/images/logoHH.jpg 1200w" />
	</figure>

	<h2 class="titulo-section" id="titulo-index"><%= title %></h2>

	<p class="descripcion">Bienvenido a "e-nutrition" aquí encontrarás toda la información que necesitas para bajar o mantener tu peso ideal.....Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation.
	</p>


	