
	<div id="contenedor-cereales">
	<h2 class="titulo-section">Cereales</h2>

	<article class="cereales">
		<a href="#"><figure><img src="/images/arroz.jpg"><figcaption>Arroz</figcaption></figure></a>
	</article>

	<article class="cereales">
		<a href="#"><figure><img src="/images/avena.jpg"><figcaption>Avena</figcaption></figure></a>
	</article>

	<article class="cereales">
		<a href="#"><figure><img src="/images/cebada.jpg"><figcaption>Cebada</figcaption></figure></a>
	</article>

	<article class="cereales">
		<a href="#"><figure><img src="/images/trigo.jpg"><figcaption>Trigo</figcaption></figure></a>
	</article>

	<article class="cereales">
		<a href="#"><figure><img src="/images/centeno.jpg"><figcaption>Centeno</figcaption></figure></a>
	</article>

	<article class="cereales">
		<a href="#"><figure><img src="/images/linaza.jpg"><figcaption>Linaza</figcaption></figure></a>
	</article>

	<article class="cereales">
		<a href="#"><figure><img src="/images/maiz.jpg"><figcaption>Maíz</figcaption></figure></a>
	</article>

	<article class="cereales">
		<a href="#"><figure><img src="/images/mijo.jpg"><figcaption>Mijo</figcaption></figure></a>
	</article>
</div>