<div id="contenedor-frutas">
	<h2 class="titulo-section">Frutas</h2>

	<article class="frutas">
		<a href="#"><figure><img src="/images/piña.jpg"><figcaption>Piña</figcaption></figure></a>
	</article>

	<article class="frutas">
		<a href="#"><figure><img src="/images/fresa.jpg"><figcaption>Fresa</figcaption></figure></a>
	</article>

	<article class="frutas">
		<a href="#"><figure><img src="/images/platano.jpg"><figcaption>Plátano</figcaption></figure></a>
	</article>

	<article class="frutas">
		<a href="#"><figure><img src="/images/sandia.jpg"><figcaption>Sandía</figcaption></figure></a>
	</article>

	<article class="frutas">
		<a href="#"><figure><img src="/images/melon.jpg"><figcaption>Melón</figcaption></figure></a>
	</article>

	<article class="frutas">
		<a href="#"><figure><img src="/images/chicozapote.jpg"><figcaption>Chicozapote</figcaption></figure></a>
	</article>

	<article class="frutas">
		<a href="#"><figure><img src="/images/pera.jpg"><figcaption>Pera</figcaption></figure></a>
	</article>
</div>