<div id="contenedor-plantas">
	<h2 class="titulo-section">Plantas</h2>

	<article class="plantas">
		<a href="#"><figure><img src="/images/albahaca.jpg"><figcaption>Albahaca</figcaption></figure></a>
	</article>

	<article class="plantas">
		<a href="#"><figure><img src="/images/apio.jpg"><figcaption>Apio</figcaption></figure></a>
	</article>

	<article class="plantas">
		<a href="#"><figure><img src="/images/arnica.jpg"><figcaption>Arnica</figcaption></figure></a>
	</article>

	<article class="plantas">
		<a href="#"><figure><img src="/images/hierbabuena.jpg"><figcaption>Hierba Buena</figcaption></figure></a>
	</article>

	<article class="plantas">
		<a href="#"><figure><img src="/images/manzanilla.jpg"><figcaption>Manzanilla</figcaption></figure></a>
	</article>

	<article class="plantas">
		<a href="#"><figure><img src="/images/sabila.jpg"><figcaption>Sábila</figcaption></figure></a>
	</article>

	<article class="plantas">
		<a href="#"><figure><img src="/images/perejil.jpg"><figcaption>Perejil</figcaption></figure></a>
	</article>

</div>