<div id="contenedor-verduras">
	<h2 class="titulo-section">Verduras</h2>

	<article class="verduras">
		<a href="#"><figure><img src="/images/betabel.jpg"><figcaption>Betabel</figcaption></figure></a>
	</article>

	<article class="verduras">
		<a href="#"><figure><img src="/images/calabaza.jpg"><figcaption>Calabaza</figcaption></figure></a>
	</article>

	<article class="verduras">
		<a href="#"><figure><img src="/images/chayote.jpg"><figcaption>Chayote</figcaption></figure></a>
	</article>

	<article class="verduras">
		<a href="#"><figure><img src="/images/papa.jpg"><figcaption>Papa</figcaption></figure></a>
	</article>

	<article class="verduras">
		<a href="#"><figure><img src="/images/tomate.jpg"><figcaption>Tomate</figcaption></figure></a>
	</article>

	<article class="verduras">
		<a href="#"><figure><img src="/images/zanahoria.jpg"><figcaption>Zanahoria</figcaption></figure></a>
	</article>

</div>