<div id="perfil">

	<h2 class="titulo-section">Control</h2><br>

	<div id="foto-section">
		<div class="contenedor" id="contenedor-camara">
			<video id="camara" autoplay></video>
		</div>

        <div id='controles-foto'>
            <input id='botonIniciar' type='button' value = 'Iniciar'></input>
            <!--<input id='botonDetener' type='button' value = 'Detener'></input>-->
            <input id='botonFoto' type='button' value = 'Foto'></input>
        </div>

		<div class="contenedor" id="contenedor-foto">
			<canvas id="foto" ></canvas>
		</div> 
	</div>

	<script type="text/javascript">
    //Nos aseguramos que estén definidas
    //algunas funciones básicas
    window.URL = window.URL || window.webkitURL;
    navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia || function() {
        alert('Su navegador no soporta navigator.getUserMedia().');};

    //Este objeto guardará algunos datos sobre la cámara
    window.datosVideo = {
        'StreamVideo': null,
        'url': null
    }

    jQuery('#botonIniciar').on('click', function(e) {
        //Pedimos al navegador que nos da acceso a 
        //algún dispositivo de video (la webcam)
        navigator.getUserMedia({
            'audio': false,
            'video': true
        }, function(streamVideo) {
            datosVideo.StreamVideo = streamVideo;
            datosVideo.url = window.URL.createObjectURL(streamVideo);
            jQuery('#camara').attr('src', datosVideo.url);

        }, function() {
            alert('E-nutrition, dice: No fue posible obtener acceso a la cámara.');
        });

    });

    jQuery('#botonDetener').on('click', function(e) {

        if (datosVideo.StreamVideo) {
            datosVideo.StreamVideo.stop();
            window.URL.revokeObjectURL(datosVideo.url);
        }

    });

    jQuery('#botonFoto').on('click', function(e) {
        var oCamara, oFoto, oContexto, w, h;

        oCamara = jQuery('#camara');
        oFoto = jQuery('#foto');
        w = oCamara.width();
        h = oCamara.height();
        oFoto.attr({
            'width': w,
            'height': h
        });
        oContexto = oFoto[0].getContext('2d');
        oContexto.drawImage(oCamara[0], 0, 0, w, h);
    });
</script>

<div class="informacion-perfil">
    <h3>Información de perfil</h3>
    <div>
        <h4>Usuario: </h4> <p><%=session.user.username%></p>
    </div>

    <div>
        <h4>Peso: </h4> <p><%=session.user.peso%></p>
    </div>

</div>
	<a href="/notas"></a><br>
    <hr/>

    <div class="container">
    <h1>Registro</h1>

    <div id="ui-container" class="row">
        <div class="col-sm-3">
            <a href="#" id="delete-all-btn" class="btn-xs"><i class="fa fa-trash-o"></i> Borrar todo</a>
            
            <ul id="list-container" class="list-unstyled"></ul>       
        </div>

        <div class="col-sm-8 push-down">
            <input type="hidden" id="id-hidden" />
            
            <input id="title-text" type="text" class="form-control" tabindex="1" placeholder="titulo" autofocus />
            <br />
                
            <textarea id="notes-text" class="form-control" tabindex="2" placeholder="texto"></textarea>
                
            <div class="pull-right push-down">
                <a href="#" id="clear-button" tabindex="4">Borrar</a>
                <button id="save-button" tabindex="3" class="btn btn-default btn-primary"> 
                    <i class="fa fa-save"></i> Guardar 
                </button>
            </div>
        </div>
    </div>
   
    <script id="note-template" type="text/template">
        <li>
            <i data-id="{ID}" class="fa fa-minus-circle"></i>
            <a href="#" data-id="{ID}">{TITLE}</a>
        </li>
    </script>
    <script id="empty-note" type="text/template">
        <li class="text-muted small">Sin Notas</li>
    </script>

</div>


</div>




