<section id= "section-perfil">
    <article id="article-datos" >
        <h1> <%=session.user.username%> </h1> 
        <figure>
            <img src="">
            <figcaption><a class="btn-editar" href="/user/<%=session.user.id%>/edit"><button>Editar</button></a></figcaption>
        </figure>
    </article>
    <article id="article-tabla" >
        <table>
            <tr>
                <th>Fecha</th>
                <th>Peso</th>
                <th>Altura</th>
            </tr>
        </table>
    </article>
    <article = "article-registro">
        <header>
             <h1> Registrar </h1> 
        </header>
        <form>
            <div>
                <label class="rem">Fecha: </label>
                <input id="title-text" type="date" class="form-control" tabindex="1" placeholder="Fecha" autofocus />
            </div>
            <div>
                 <label class="rem">Peso: </label>
                 <textarea id="notes-text" class="form-control" tabindex="2" placeholder="Peso"></textarea>
           
            </div>
           
        </form>
    </article>
</section>