<div id="foto-section">
 		<div id='controles-foto'>
            <input id='botonGuardar' type='button' value = 'Guardar'></input>
            <input id='botonFoto' type='button' value = 'Foto'></input>
        </div>
		<div class="contenedor" id="contenedor-camara">
			<video id="camara" autoplay ></video>
		</div>

		<div class="contenedor" id="contenedor-foto">
			<canvas id="foto" ></canvas>
		</div> 
	</div>
<script type="text/javascript">
    //Nos aseguramos que estén definidas
    //algunas funciones básicas
    window.URL = window.URL || window.webkitURL;
    navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia || function() {
        alert('Su navegador no soporta navigator.getUserMedia().');};

    //Este objeto guardará algunos datos sobre la cámara
    window.datosVideo = {
        'StreamVideo': null,
        'url': null
    }

   jQuery('#botonGuardar').on('click', function(e) {
	   	var canvas = document.getElementById("foto");
		var dataUrl = canvas.toDataURL(); // obtenemos la imagen como png

		dataUrl=dataUrl.replace("image/png",'image/octet-stream'); // sustituimos el tipo por octet
		console.log(dataUrl);
	});
        //Pedimos al navegador que nos da acceso a 
        //algún dispositivo de video (la webcam)
        navigator.getUserMedia({
            'audio': false,
            'video': true
        }, function(streamVideo) {
            datosVideo.StreamVideo = streamVideo;
            datosVideo.url = window.URL.createObjectURL(streamVideo);
            jQuery('#camara').attr('src', datosVideo.url);

        }, function() {
            alert('E-nutrition, dice: No fue posible obtener acceso a la cámara.');
        });


    jQuery('#botonFoto').on('click', function(e) {
        var oCamara, oFoto, oContexto, w, h;

        oCamara = jQuery('#camara');
        oFoto = jQuery('#foto');
        w = oCamara.width();
        h = oCamara.height();
        oFoto.attr({
            'width': w,
            'height': h
        });
        oContexto = oFoto[0].getContext('2d');
        oContexto.drawImage(oCamara[0], 0, 0, w, h);
    });
</script>